body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A08;
}

.quem-somos{
    background-color: #192800;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;

}

.parceiros{
    background-color: #093200;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}

.servicos{
    background-color: #095600;
    color: white;
}